name: Build and deploy after PR merged

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5.0.0
        with:
          java-version: 21
          distribution: 'corretto'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      - name: Build and test
        run: ./gradlew build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Test coverage verification
        run: ./gradlew jacocoTestCoverageVerification

      - name: Integration test
        run: ./gradlew integrationTest --tests '*IntegrationTest'

      - name: Upload test results (all modules)
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: test-results
          path: |
            **/build/test-results/**
          retention-days: 14

      - name: Upload checkstyle report
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: checkstyle-report
          path: |
            **/build/reports/checkstyle/**
          retention-days: 14

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: test-report
          path: |
            **/build/reports/tests/**
          retention-days: 14

      - name: Upload jacoco coverage report
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: jacoco-coverage-report
          path: |
            **/build/reports/jacoco/**
          retention-days: 14

  vulnerability-report:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'corretto'

      - name: Setup Snyk
        uses: snyk/actions/setup@master

      - name: Run Snyk to check app for vulnerabilities
        run: snyk monitor --severity-threshold=high
        continue-on-error: true

      - name: Generate sarif Snyk report
        run: snyk test --sarif-file-output=snyk-app.sarif
        continue-on-error: true

      # Fix/hack for Snyk's sarif file to avoid this error uploading to GitHub.
      # See https://github.com/github/codeql-action/issues/2187 for more context.
      - name: Fix undefined values
        run: |
          sed -i 's/"security-severity": "undefined"/"security-severity": "0"/g' snyk-app.sarif

      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk-app.sarif


  ecr:
    needs: build-test
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read # This is required for actions/checkout
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: stub-civil-claims-api
            context: ./stub-civil-claims-api
            dockerfile: ./stub-civil-claims-api/Dockerfile
            ecr-repository: ${{ vars.STUB_CIVIL_CLAIMS_API_ECR_REPOSITORY}}
    env:
      IMAGE_TAG: ${{ github.sha }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build and test
        run: ./gradlew :${{ matrix.name }}:build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS creds (BFF)
        if: matrix.name == 'stub-civil-claims-api'
        uses: aws-actions/configure-aws-credentials@v6.0.0
        with:
          role-to-assume: ${{ secrets.STUB_CIVIL_CLAIMS_API_ECR_ROLE_TO_ASSUME }}
          aws-region: ${{ vars.STUB_CIVIL_CLAIMS_API_ECR_REGION}}
      - name: login to registry
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        id: login-ecr

        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
        with:
          install: true

      - name: Cache Docker layers
        uses: actions/cache@v5
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}-${{ matrix.name }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build and push image with local action
        uses: ./.github/actions/build_and_push
        with:
          image_registry: ${{ secrets.ECR_REGISTRY_URL }}
          image_repo: ${{ matrix.ecr-repository }}
          dockerfile_path: ${{ matrix.dockerfile }}
          build_context: ${{ matrix.context }} 
          image_tag: ${{ env.IMAGE_TAG }}
